

 .visualizer {
 	display: flex;

 }
 .more {
 	flex-grow: 1;
 }
 .header {
 	display: flex;
 	flex-flow: row wrap;
 	justify-content: space-between;
 }
 .song {
 	flex: 1;
 }

 img {
 	height: 120px;
 	width: 120px;
 }

 .infos {
 	flex: 1;
 }

.author {
 	font-size: 1rem;
 }

 .duration {
 	font-size: 0.7rem;
 }

 .title {
 	font-size: 1.5rem;
 }

 #canvas {
 	flex-grow: 1;
   	height: 4rem;
 	border-bottom: 1px solid #4e4e4e;
 }
