<img [src]=currentSong.image>
<div class="infos">
    <div class="header">
        <div class="song">
            <span class="author">{{currentSong.artist}}</span>
            <br/>
            <span class="title">{{currentSong.title}}</span>
        </div>
        <div class="timeline">
            <span class="duration">{{audio.currentTime | formatMSS}} / {{audio.duration | formatMSS}}</span>
        </div>
    </div>
    <div class="visualizer">
        <canvas id="canvas"></canvas>
        <audio id="audio"></audio>
    </div>
    
</div>
