@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');	

app-player {
	display: flex;
	align-self: flex-end;
	flex-basis: 30%;
	flex-flow: row wrap;
	gap: 20px;
	justify-content: center;
}

app-playlist {
	display: flex;
	align-self: flex-start;
	flex-basis: 15%;
	flex-flow: row wrap;
	gap: 20px;
	align-items: flex-start;
}

#app {
	justify-content: space-between;
}

.app {
	font-family: 'Bellota Text', cursive;	
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0;
	padding: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	gap: 20px;
	background-image: url("https://www.techsmith.com/blog/wp-content/uploads/2016/08/citylarge.gif");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
	background: rgba(0, 0, 0, 0.9);
	color: #f1f1f1;
	font-weight: 600;
	padding: 20px;
	border-radius: 2px;
}

@media only screen and (max-width: 600px) {
	app-player {
		display: flex;
		align-self: flex-end;
		flex-basis: 100%;
		flex-flow: row wrap;
		gap: 20px;
		justify-content: center;
	}
	
	app-playlist {
		display: flex;
		align-self: flex-start;
		flex-basis: 100%;
		flex-flow: row wrap;
		gap: 20px;
		align-items: flex-start;
	}

	#app {
		align-content: space-between;
	}
}
