.track {
	display: flex;     
	flex-flow: row;
	gap: 10px;
}

.track:hover {
	cursor: pointer;
}

.trackInfos {
	display: flex;
	flex-flow: column;
}

.tracklist{
	flex: 1;
}

.tracklistSet{
	display: flex;
	flex-flow: column;
	gap: 10px;
	max-height: 40vh;
	overflow-y: scroll;
}

.tracklistSet::-webkit-scrollbar{
	display: none;
}

.tracklistHeader {
	border-bottom: 1px solid #4e4e4e;
	padding-bottom: 10px;
	flex: 1;
	display: flex;
}

.tracklistName {
	flex: 1;
	font-variant: small-caps;
}

.thumbnail {
	height: 40px;
}
