<div class="tracklist">
    <div class="tracklistHeader">
        <span class="tracklistName">TRACKLIST</span>
        <span class="trackNumber">1 / 4</span>
    </div>
    <div class="tracklistSet">
        <div class="track" *ngFor="let song of songs; index as i;" (click)=selectTrack()>
            <img class="thumbnail" [src]=song.image>
            <div class="trackInfos">
                <span class="artist">{{song.artist}}</span>
                <span class="title">{{song.title}}</span>
            </div>
        </div>
    </div>
</div>
